<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dz.esi.commerce.mshop">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityPanier"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailProduitActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ActivityNotif" />
        <activity
            android:name=".loginActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".loginActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityMonmshop"
            android:parentActivityName=".MainActivity"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" />
        <activity
            android:name=".ActivityPromotion"
            android:parentActivityName=".MainActivity"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" />
        <activity
            android:name=".Donnee_personelles_Activity"
            android:parentActivityName=".ActivityMonmshop" />
        <activity android:name=".MesCommandesActivity" />
        <activity
            android:name=".MesAchatsActivity"
            android:parentActivityName=".ActivityMonmshop"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" />

        <activity android:name=".ActivityAide"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>
